.wrapper :global(.section) {
  padding: 56px 0 72px;
}

.wrapper :global(.grid) {
  align-items: stretch;
}

.wrapper :global(.bodyText) {
  font-size: 0.9rem;
  color: #ffffff;
}

.wrapper :global(.section-title) {
  color: #ffffff;
  font-family: PLAYFAIR DISPLAY;
  width: 80%;
  font-size: 2.6rem;
}

@media (max-width: 900px) {
  .wrapper :global(.section-title) {
    width: 100%;
    text-align: center;
  }

  .wrapper :global(.divider-gold) {
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper :global(.section-label) {
    text-align: left;
    margin-left: 0;
  }
}

